/* Highlight dangerous situations, such as low health or aggressive NPCs */

#listrow_lifep .healthcritical,
.aggressivenpc {
  font-weight: bold;
  font-size: 1.3em;
  animation: blink 0.3s step-start infinite;
}
@keyframes blink {
  50% {
    opacity: 0.3;
  }
}
