/* Shows short descriptions for each Job (Auftragshalle) in the inventory so it is not necessary to read the full description anymore */

/* Common styling */
#listrow_char_mission::after {
  display: block;
  margin: 12px 5px;
  padding: 8px 8px;
  background: #464646;
  border: 1px solid #666;
  border-left: 7px solid #f99;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 14px;
  line-height: 1.6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

#listrow_char_mission:has(a[title="Ablenkung mit Knalleffekt"])::after { content: "Zerstöre zufälliges Feld mit Bombe des AdH."; }
