/* Shows short descriptions for each Job (Auftragshalle) in the inventory so it is not necessary to read the full description anymore */

/* Common styling */
#listrow_char_mission::after {
  display: block;
  margin: 12px 2px;
  padding: 5px 7px;
  background: #464646;
  border: 1px solid #666;
  border-left: 4px solid #f99;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

/* Single-Part Jobs */
#listrow_char_mission:has(a[title="15 Spindelschreiter"])::after { content: "Töte 15 Spindelschreiter."; }
#listrow_char_mission:has(a[title="5000 Tote"])::after { content: "Töte NPCs."; }
#listrow_char_mission:has(a[title="Allgemeine Aufklärung"])::after { content: "Gehe zu zufälligem Feld."; }
#listrow_char_mission:has(a[title="Betrug im Casino"])::after { content: "Spiele im Casino von Ferdolien."; }
#listrow_char_mission:has(a[title="Brutale Population"])::after { content: "Töte 20 NPCs."; }
#listrow_char_mission:has(a[title="Chaos in Belron"])::after { content: "Töte Spindelschreiter in aufsteigender Stärke. Keine Sporenträger!"; }
#listrow_char_mission:has(a[title="Das Artefakt von Dranar"])::after { content: "Hole Artefakt in Azul (105/127, 2-Felder Umkreis)."; }
#listrow_char_mission:has(a[title="Das Brotmesser"])::after { content: "Bringe Brotmesser nach Sutranien - Der Zauberbaum (74/94)."; }
#listrow_char_mission:has(a[title="Das große Verjagen"])::after { content: "(Frieden) Verjage 5 NPCs."; }
#listrow_char_mission:has(a[title="Das Herz der Glypras"])::after { content: "Töte Glypras bis Drop: Herz der Glypra."; }
#listrow_char_mission:has(a[title="Das kaputte Katapult"])::after { content: "Repariere Narubia - Katapult (501/57)."; }
#listrow_char_mission:has(a[title="Das Portal"])::after { content: "Baue Messender in Koloa-Plantage, dann durch Portal in Buran (83/81)."; }
#listrow_char_mission:has(a[title="Das Schabenproblem"])::after { content: "Töte 5 Geisterschaben."; }
#listrow_char_mission:has(a[title="Der Alte vom Erzmagierturm"])::after { content: "Gehe nach Ruward - Turm der Erzmagier (72/103), hole zufälliges Item."; }
#listrow_char_mission:has(a[title="Der Briefbeschwerer"])::after { content: "Töte NPC bis Drop: Briefbeschwerer."; }
#listrow_char_mission:has(a[title="Der diebische Blattalisk"])::after { content: "Töte Blattalisk bis Drop: Schlüssel von Mister Lorper."; }
#listrow_char_mission:has(a[title="Der dunkle Felsen"])::after { content: "Gehe nach Sutranien - Dunkler Fels (70/89), lege Schafschergerät ab."; }
#listrow_char_mission:has(a[title="Der Ektofronstachel"])::after { content: "Töte Ektofron bis Drop: Ektofronstachel."; }
#listrow_char_mission:has(a[title="Der Ex-Mitarbeiter"])::after { content: "Gehe zu zufälligem Feld und verjage Thorom Logrid."; }
#listrow_char_mission:has(a[title="Der Grabräuber"])::after { content: "Töte Grabräuber in Orewu (110/115, 2-Felder Umkreis)."; }
#listrow_char_mission:has(a[title="Der Schmierfink"])::after { content: "Töte Schmierfink (Das Denkmal, Ruhmeshalle, Die Kathedrale). Oder Krakelei mit Wasserwerfer säubern."; }
#listrow_char_mission:has(a[title="Der Schutzauftrag"])::after { content: "(Frieden) Wende Auftragsschutz auf bestimmtes NPC an."; }
#listrow_char_mission:has(a[title="Der verlorene Meterstab"])::after { content: "Finde Meterstab in Ragnur."; }
#listrow_char_mission:has(a[title="Der verschüttete Eingang"])::after { content: "Nutze Schaufel des AdH auf Anatubien - Vulkangrotte (87/104)."; }
#listrow_char_mission:has(a[title="Der wahnsinnige Waldschlurch"])::after { content: "Töte wahnsinnigen Waldschlurch."; }
#listrow_char_mission:has(a[title="Die Auswilderung"])::after { content: "Öffne Katzenkäfig an Oberfläche, beschütze Dunbrakatze für 1 min."; }
#listrow_char_mission:has(a[title="Die Badehose"])::after { content: "Bringe Badehose nach Belpharia - Die Westinsel (185/140)."; }
#listrow_char_mission:has(a[title="Die Blutprobe"])::after { content: "Kaufe Blutechse in Blatenien (86/107), hole bestimmte Blutprobe."; }
#listrow_char_mission:has(a[title="Die dunkle Macht"])::after { content: "Töte 3 NPCs mit mindestens A:20."; }
#listrow_char_mission:has(a[title="Die einzigartige Bedrohung"])::after { content: "Töte ein Unique- oder Gruppen-NPC (z.b. Alte Mühle)."; }
#listrow_char_mission:has(a[title="Die Fallenentschärfung"])::after { content: "Entschärfe eine Falle mit Fallenentschärfer (z.b. Belpharia oder AdH Stolperfalle)."; }
#listrow_char_mission:has(a[title="Die Feuerstelle"])::after { content: "Nutze Fackel des AdH an Narow - Feuerstelle (113/106)."; }
#listrow_char_mission:has(a[title="Die Finstereis-Höhle"])::after { content: "Durchquere Finstereishöhle von Ragnur (102/77) aus."; }
#listrow_char_mission:has(a[title="Die Gefahr"])::after { content: "Töte 5 NPCs mit mindestens A:10 (z.b. Glypra, Spindelschreiter)."; }
#listrow_char_mission:has(a[title="Die gezielte Verjagung"])::after { content: "Verjage ein bestimmtes NPC."; }
#listrow_char_mission:has(a[title="Die Handwerkshalle"])::after { content: "Nutze Absperrband in Laree - Handwerkshalle (53/77)."; }
#listrow_char_mission:has(a[title="Die Kutschfahrt"])::after { content: "Begleite Kutsche des AdH zu Ziel."; }
#listrow_char_mission:has(a[title="Die Müllentsorgung"])::after { content: "Nutze Giftiger Müll in Kanobien - Wasserfall (75/99)."; }
#listrow_char_mission:has(a[title="Die Order"])::after { content: "Bringe Versiegelter Brief zur Börse."; }
#listrow_char_mission:has(a[title="Die Phasenwesen"])::after { content: "Finde eine Phasenkugel."; }
#listrow_char_mission:has(a[title="Die resistente Bedrohung"])::after { content: "Töte ein (Super-)Resistenz-NPC."; }
#listrow_char_mission:has(a[title="Die Schmerzfalle"])::after { content: "Nutze Schmerzfalle an bestimmten Ort."; }
#listrow_char_mission:has(a[title="Die Seilbahn"])::after { content: "Fliege vom AdH zum Zielort (direkter Weg) und nutze Seilrolle."; }
#listrow_char_mission:has(a[title="Die Tischdecke"])::after { content: "Bringe Tischdecke nach zufälligen Ort."; }
#listrow_char_mission:has(a[title="Die Unkrautplage"])::after { content: "Nutze Pflanzengift an bestimmter Position."; }
#listrow_char_mission:has(a[title="Die vergessene Kiste"])::after { content: "Hole Kiste des AdH an bestimmter Position, nutze Schlüssel des AdH."; }
#listrow_char_mission:has(a[title="Die Welt regulieren"])::after { content: "Töte bestimmtes NPC in Nähe."; }
#listrow_char_mission:has(a[title="Die Wette"])::after { content: "Töte NPC in aufsteigender Stärke. Spindelschreiter werden ignoriert."; }
#listrow_char_mission:has(a[title="Die Windwiesen"])::after { content: "Finde AdH Mitarbeiter bei Torihn - Die Windwiesen (111/94)."; }
#listrow_char_mission:has(a[title="Diebesgut"])::after { content: "Nutze Auftragsdiebstahlzauber um bestimmtes NPC zu beklauen. Nicht töten!"; }
#listrow_char_mission:has(a[title="Doppelköpfige Bestie"])::after { content: "Kutschfahrt mit zweiten Spieler, besiege doppelköpfige Bestie."; }
#listrow_char_mission:has(a[title="Effizienzsteigerung"])::after { content: "Nutze Zauberöl: roter Donner. Töte 20 NPC mit der Waffe."; }
#listrow_char_mission:has(a[title="Einsatzbereitschaft zeigen"])::after { content: "Gehe zu Ziel und zurück zum AdH auf kürzestem Weg."; }
#listrow_char_mission:has(a[title="Essenszeit"])::after { content: "Besorge Steak mit Augen (30LP für Bonus, Messingwok + Kuhkopf)."; }
#listrow_char_mission:has(a[title="Falterchaos"])::after { content: "Fange temporalen Falter mit Falterfangnetz."; }
#listrow_char_mission:has(a[title="Frische Luft"])::after { content: "Nutze Windbeutel des AdH auf Wald/Wind-Feld, nutze erneut an Zielort."; }
#listrow_char_mission:has(a[title="Frostbrand"])::after { content: "Nutze Frostbrand auf Zielperson."; }
#listrow_char_mission:has(a[title="Für die Sicherheit"])::after { content: "Verjage 10 NPCs."; }
#listrow_char_mission:has(a[title="Haus aus Schnee"])::after { content: "Baue Haus auf Schnee-Feld (nicht Wilisien). Großes Haus für Bonus."; }
#listrow_char_mission:has(a[title="Heilung benötigt"])::after { content: "Nutze Verbandskasten auf Zielperson."; }
#listrow_char_mission:has(a[title="Heilung der Schwachen"])::after { content: "(Frieden) Nutze Heilzauber der Geistlosen auf Ziel-NPC."; }
#listrow_char_mission:has(a[title="In geheimer Mission"])::after { content: "Gehe nach Loranien - Turm der Clan-Energie (79/114), füttere Waschbär mit Tierfutter."; }
#listrow_char_mission:has(a[title="Itolos-Leder"])::after { content: "Töte Stachelschildkröte (Bonus, Itolos) oder Todesmoor-Krokodil (Krato) bis Drop: Itolos-Leder."; }
#listrow_char_mission:has(a[title="Jerodar-Überfall"])::after { content: "Töte Jerodar-Erdwühler in Diebeshöhle bis Drop: Plan der Jerodar."; }
#listrow_char_mission:has(a[title="Konzentrationstest"])::after { content: "Töte, dann Verjage abwechselnd mindestens 10 NPCs."; }
#listrow_char_mission:has(a[title="Kurzfristige Aufklärung"])::after { content: "Gehe zu Zielperson."; }
#listrow_char_mission:has(a[title="Lieferung ans Zentrallager"])::after { content: "Hole Kiste von Ziel-Shop. Bringe nach Hewien - Zentrallager der Händler (88/89)."; }
#listrow_char_mission:has(a[title="Magische Energiefelder"])::after { content: "Suche mit Energiekompass nach Zielort."; }
#listrow_char_mission:has(a[title="Mehr Erfahrung"])::after { content: "Erreiche Ziel-XP."; }
#listrow_char_mission:has(a[title="Mehr Kampfpunkte"])::after { content: "Sammel 4 Kampfpunkte (Hewien - Kampfgebiet)."; }
#listrow_char_mission:has(a[title="Mitarbeiter in Not"])::after { content: "Nutze Schneeschaufel mit zweitem Spieler in Ragnur (100/75)."; }
#listrow_char_mission:has(a[title="Nichts zu tun"])::after { content: "Warte 5 Minuten."; }
#listrow_char_mission:has(a[title="Portalstab-Panik"])::after { content: "Gehe nach Zielort und nutze Portalstab-Bohrer. Töte evtl. Portalstab-Anbeter."; }
#listrow_char_mission:has(a[title="Probleme beim Tollo"])::after { content: "Töte Tolloschein-Fresser in Ferdolien - Tollo-Hütte (97/96)."; }
#listrow_char_mission:has(a[title="Randale"])::after { content: "(Frieden) Nutze Beruhigungspille auf Randalierer in Grab von Reikan (98/109)."; }
#listrow_char_mission:has(a[title="Ratten und Raffzähne"])::after { content: "Verjage Ratten. Nicht töten! (z.b. Tal der Ruinen, Kuridan)."; }
#listrow_char_mission:has(a[title="Reagenzglasmangel"])::after { content: "Nutze Kiste mit Reagenzgläsern in Laree - Zauberlabor (49/83)."; }
#listrow_char_mission:has(a[title="Resistentes Schlachtvieh"])::after { content: "Finde und töte bockigen Stier."; }
#listrow_char_mission:has(a[title="Rosenzauber"])::after { content: "Ernte Rose von Ziel-Ort und bringe sie zurück."; }
#listrow_char_mission:has(a[title="Salzsüchtig"])::after { content: "Besorge Salzkristall. Gehe nach Ziel-Ort in Kerdis, gib ihn an Staubschleifer."; }
#listrow_char_mission:has(a[title="Schattenmoos"])::after { content: "Nutze schwarze Zauberkugel, töte in Schattenhöhle bis Drop: Schattenmoosextrakt (nicht rauslaufen)."; }
#listrow_char_mission:has(a[title="Schaufelmaulwürfe"])::after { content: "Nutze Klopfstock, töte 5 Schaufelmaulwürfe (z.b. Das vergessene Tal GZK-Punkt)."; }
#listrow_char_mission:has(a[title="Schneller Tod"])::after { content: "Töte Ziel-NPC in 4 Minuten."; }
#listrow_char_mission:has(a[title="Spaziergang mit roter Mütze"])::after { content: "Gehe zu Ziel-Ort (direkter Weg, keine Dungeons oder Teleport)."; }
#listrow_char_mission:has(a[title="Tiefgekühlte Proben"])::after { content: "Nutze Kühlbox auf gefrorenen Insel (eisiger Teleporter: Glodo-Fisch, kleiner Energiesplitter)."; }
#listrow_char_mission:has(a[title="Tod den Schatten"])::after { content: "Töte 5 Schatten der Dunkelheit in Ryn."; }
#listrow_char_mission:has(a[title="Ungesunde Population"])::after { content: "Töte 10 NPCs."; }
#listrow_char_mission:has(a[title="Verlorene Schatztruhe"])::after { content: "Töte Alter Zwerg in Konlir - Dorf. Bringe Truhe zurück."; }
#listrow_char_mission:has(a[title="Vernichtung der Falter"])::after { content: "Töte 4 Falter in Lodradon."; }
#listrow_char_mission:has(a[title="Verschneite Wege"])::after { content: "Nutze verbesserte Schneeschaufel in Wilisien - Schneedorf (111/83) bis fertig."; }
#listrow_char_mission:has(a[title="Wissenschaftliches Arbeiten"])::after { content: "Nutze Messgerät des AdH an Brotandro-Virus in Avarin."; }
#listrow_char_mission:has(a[title="Zurückzahlung der Schulden"])::after { content: "Finde schmierigen Geschäftemacher. Nicht töten!"; }
#listrow_char_mission:has(a[title="Zu viele Hulnodar-Heiler"])::after { content: "Töte 3 Hulnodar-Heiler in Kolun - Burg von Hulnodar (61/83)."; }
#listrow_char_mission:has(a[title="zuviele Farben"])::after { content: "Töte 3 Farbanomalien in Laree."; }
#listrow_char_mission:has(a[title="Ölmangel"])::after { content: "Verkaufe ein Ölfass an Buran - Schmiede (85/90)."; }

/* Multi-Part Jobs */
#listrow_char_mission:has(a[title="Ablenkung mit Knalleffekt"])::after { content: "Zerstöre zufälliges Feld mit Bombe des AdH."; }
#listrow_char_mission:has(a[title="Ablenkung mit Knalleffekt Teil 2"])::after { content: "Bestrafe Höhlenmensch in Sandsteinhöhlen (Schlucht der Sandsteine). Anbrüllen, dann Verjagen."; }
