/* Shows short descriptions for each Job (Auftragshalle) in the inventory so it is not necessary to read the full description anymore */

/* Common styling */
#listrow_char_mission::after {
  display: block;
  margin: 12px 2px;
  padding: 5px 7px;
  background: #464646;
  border: 1px solid #666;
  border-left: 4px solid #f99;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

/* Single-Part Jobs */
#listrow_char_mission:has(a[title="15 Spindelschreiter"])::after { content: "Töte 15 Spindelschreiter."; }
#listrow_char_mission:has(a[title="5000 Tote"])::after { content: "Töte NPCs."; }
#listrow_char_mission:has(a[title="Allgemeine Aufklärung"])::after { content: "Gehe zu zufälligem Feld."; }
#listrow_char_mission:has(a[title="Betrug im Casino"])::after { content: "Spiele im Casino von Ferdolien."; }
#listrow_char_mission:has(a[title="Brutale Population"])::after { content: "Töte 20 NPCs."; }
#listrow_char_mission:has(a[title="Chaos in Belron"])::after { content: "Töte Spindelschreiter in aufsteigender Stärke. Keine Sporenträger!"; }
#listrow_char_mission:has(a[title="Das Artefakt von Dranar"])::after { content: "Hole Artefakt in Azul (105/127, 2-Felder Umkreis)."; }
#listrow_char_mission:has(a[title="Das Brotmesser"])::after { content: "Bringe Brotmesser nach Sutranien - Der Zauberbaum (74/94)."; }
#listrow_char_mission:has(a[title="Das große Verjagen"])::after { content: "(Frieden) Verjage 5 NPCs."; }
#listrow_char_mission:has(a[title="Das Herz der Glypras"])::after { content: "Töte Glypras bis Drop: Herz der Glypra."; }
#listrow_char_mission:has(a[title="Das kaputte Katapult"])::after { content: "Repariere Narubia - Katapult (501/57)."; }
#listrow_char_mission:has(a[title="Das Portal"])::after { content: "Baue Messender in Koloa-Plantage, dann durch Portal in Buran (83/81)."; }
#listrow_char_mission:has(a[title="Das Schabenproblem"])::after { content: "Töte 5 Geisterschaben."; }
#listrow_char_mission:has(a[title="Der Alte vom Erzmagierturm"])::after { content: "Gehe nach Ruward - Turm der Erzmagier (72/103), hole zufälliges Item."; }
#listrow_char_mission:has(a[title="Der Briefbeschwerer"])::after { content: "Töte NPC bis Drop: Briefbeschwerer."; }
#listrow_char_mission:has(a[title="Der diebische Blattalisk"])::after { content: "Töte Blattalisk bis Drop: Schlüssel von Mister Lorper."; }
#listrow_char_mission:has(a[title="Der dunkle Felsen"])::after { content: "Gehe nach Sutranien - Dunkler Fels (70/89), lege Schafschergerät ab."; }
#listrow_char_mission:has(a[title="Der Ektofronstachel"])::after { content: "Töte Ektofron bis Drop: Ektofronstachel."; }
#listrow_char_mission:has(a[title="Der Ex-Mitarbeiter"])::after { content: "Gehe zu zufälligem Feld und verjage Thorom Logrid."; }
#listrow_char_mission:has(a[title="Der Grabräuber"])::after { content: "Töte Grabräuber in Orewu (110/115, 2-Felder Umkreis)."; }
#listrow_char_mission:has(a[title="Der Schmierfink"])::after { content: "Töte Schmierfink (Das Denkmal, Ruhmeshalle, Die Kathedrale). Oder Krakelei mit Wasserwerfer säubern."; }
#listrow_char_mission:has(a[title="Der Schutzauftrag"])::after { content: "(Frieden) Wende Auftragsschutz auf bestimmtes NPC an."; }
#listrow_char_mission:has(a[title="Der verlorene Meterstab"])::after { content: "Finde Meterstab in Ragnur."; }
#listrow_char_mission:has(a[title="Der verschüttete Eingang"])::after { content: "Nutze Schaufel des AdH auf Anatubien - Vulkangrotte (87/104)."; }
#listrow_char_mission:has(a[title="Der wahnsinnige Waldschlurch"])::after { content: "Töte wahnsinnigen Waldschlurch."; }
#listrow_char_mission:has(a[title="Die Auswilderung"])::after { content: "Öffne Katzenkäfig an Oberfläche, beschütze Dunbrakatze für 1 min."; }
#listrow_char_mission:has(a[title="Die Badehose"])::after { content: "Bringe Badehose nach Belpharia - Die Westinsel (185/140)."; }
#listrow_char_mission:has(a[title="Die Blutprobe"])::after { content: "Kaufe Blutechse in Blatenien (86/107), hole bestimmte Blutprobe."; }
#listrow_char_mission:has(a[title="Die dunkle Macht"])::after { content: "Töte 3 NPCs mit mindestens A:20."; }
#listrow_char_mission:has(a[title="Die einzigartige Bedrohung"])::after { content: "Töte ein Unique- oder Gruppen-NPC (z.b. Alte Mühle)."; }
#listrow_char_mission:has(a[title="Die Fallenentschärfung"])::after { content: "Entschärfe eine Falle mit Fallenentschärfer (z.b. Belpharia oder AdH Stolperfalle)."; }
#listrow_char_mission:has(a[title="Die Feuerstelle"])::after { content: "Nutze Fackel des AdH an Narow - Feuerstelle (113/106)."; }
#listrow_char_mission:has(a[title="Die Finstereis-Höhle"])::after { content: "Durchquere Finstereishöhle von Ragnur (102/77) aus."; }
#listrow_char_mission:has(a[title="Die Gefahr"])::after { content: "Töte 5 NPCs mit mindestens A:10 (z.b. Glypra, Spindelschreiter)."; }
#listrow_char_mission:has(a[title="Die gezielte Verjagung"])::after { content: "Verjage ein bestimmtes NPC."; }
#listrow_char_mission:has(a[title="Die Handwerkshalle"])::after { content: "Nutze Absperrband in Laree - Handwerkshalle (53/77)."; }
#listrow_char_mission:has(a[title="Die Kutschfahrt"])::after { content: "Begleite Kutsche des AdH zu Ziel."; }
#listrow_char_mission:has(a[title="Die Müllentsorgung"])::after { content: "Nutze Giftiger Müll in Kanobien - Wasserfall (75/99)."; }
#listrow_char_mission:has(a[title="Die Order"])::after { content: "Bringe Versiegelter Brief zur Börse."; }
#listrow_char_mission:has(a[title="Die Phasenwesen"])::after { content: "Finde eine Phasenkugel."; }
#listrow_char_mission:has(a[title="Die resistente Bedrohung"])::after { content: "Töte ein (Super-)Resistenz-NPC."; }
#listrow_char_mission:has(a[title="Die Schmerzfalle"])::after { content: "Nutze Schmerzfalle an bestimmten Ort."; }
#listrow_char_mission:has(a[title="Die Seilbahn"])::after { content: "Fliege vom AdH zum Zielort (direkter Weg) und nutze Seilrolle."; }
#listrow_char_mission:has(a[title="Die Tischdecke"])::after { content: "Bringe Tischdecke nach zufälligen Ort."; }
#listrow_char_mission:has(a[title="Die Unkrautplage"])::after { content: "Nutze Pflanzengift an bestimmter Position."; }
#listrow_char_mission:has(a[title="Die vergessene Kiste"])::after { content: "Hole Kiste des AdH an bestimmter Position, nutze Schlüssel des AdH."; }
#listrow_char_mission:has(a[title="Die Welt regulieren"])::after { content: "Töte bestimmtes NPC in Nähe."; }
#listrow_char_mission:has(a[title="Die Wette"])::after { content: "Töte NPC in aufsteigender Stärke. Spindelschreiter werden ignoriert."; }
#listrow_char_mission:has(a[title="Die Windwiesen"])::after { content: "Finde AdH Mitarbeiter bei Torihn - Die Windwiesen (111/94)."; }
#listrow_char_mission:has(a[title="Diebesgut"])::after { content: "Nutze Auftragsdiebstahlzauber um bestimmtes NPC zu beklauen. Nicht töten!"; }
#listrow_char_mission:has(a[title="Doppelköpfige Bestie"])::after { content: "Kutschfahrt mit zweitem Spieler, besiege doppelköpfige Bestie, fahre Kutsche zurück (gebe Freund 1k Belohnung)."; }
#listrow_char_mission:has(a[title="Effizienzsteigerung"])::after { content: "Nutze Zauberöl: roter Donner. Töte 20 NPC mit der Waffe."; }
#listrow_char_mission:has(a[title="Einsatzbereitschaft zeigen"])::after { content: "Gehe zu Ziel und zurück zum AdH auf kürzestem Weg."; }
#listrow_char_mission:has(a[title="Essenszeit"])::after { content: "Besorge Steak mit Augen (30LP für Bonus, Messingwok + Kuhkopf)."; }
#listrow_char_mission:has(a[title="Falterchaos"])::after { content: "Fange temporalen Falter mit Falterfangnetz."; }
#listrow_char_mission:has(a[title="Frische Luft"])::after { content: "Nutze Windbeutel des AdH auf Wald/Wind-Feld (z.b. Gobos), nutze erneut an Zielort."; }
#listrow_char_mission:has(a[title="Frostbrand"])::after { content: "Nutze Frostbrand auf Zielperson."; }
#listrow_char_mission:has(a[title="Für die Sicherheit"])::after { content: "Verjage 10 NPCs."; }
#listrow_char_mission:has(a[title="Haus aus Schnee"])::after { content: "Baue Haus auf Schnee-Feld (nicht Wilisien). Großes Haus für Bonus."; }
#listrow_char_mission:has(a[title="Heilung benötigt"])::after { content: "Nutze Verbandskasten auf Zielperson."; }
#listrow_char_mission:has(a[title="Heilung der Schwachen"])::after { content: "(Frieden) Nutze Heilzauber der Geistlosen auf Ziel-NPC."; }
#listrow_char_mission:has(a[title="In geheimer Mission"])::after { content: "Gehe nach Loranien - Turm der Clan-Energie (79/114), füttere Waschbär mit Tierfutter."; }
#listrow_char_mission:has(a[title="Itolos-Leder"])::after { content: "Töte Stachelschildkröte (Bonus, Itolos) oder Todesmoor-Krokodil (Krato) bis Drop: Itolos-Leder."; }
#listrow_char_mission:has(a[title="Jerodar-Überfall"])::after { content: "Töte Jerodar-Erdwühler in Diebeshöhle bis Drop: Plan der Jerodar."; }
#listrow_char_mission:has(a[title="Konzentrationstest"])::after { content: "Töte, dann Verjage abwechselnd mindestens 10 NPCs."; }
#listrow_char_mission:has(a[title="Kurzfristige Aufklärung"])::after { content: "Gehe zu Zielperson."; }
#listrow_char_mission:has(a[title="Lieferung ans Zentrallager"])::after { content: "Hole Kiste von Ziel-Shop. Bringe nach Hewien - Zentrallager der Händler (88/89)."; }
#listrow_char_mission:has(a[title="Magische Energiefelder"])::after { content: "Suche mit Energiekompass nach Zielort."; }
#listrow_char_mission:has(a[title="Mehr Erfahrung"])::after { content: "Erreiche Ziel-XP."; }
#listrow_char_mission:has(a[title="Mehr Kampfpunkte"])::after { content: "Sammel 4 Kampfpunkte (Hewien - Kampfgebiet)."; }
#listrow_char_mission:has(a[title="Mitarbeiter in Not"])::after { content: "Nutze Schneeschaufel mit zweitem Spieler in Ragnur (100/75)."; }
#listrow_char_mission:has(a[title="Nichts zu tun"])::after { content: "Warte 5 Minuten."; }
#listrow_char_mission:has(a[title="Portalstab-Panik"])::after { content: "Gehe nach Zielort und nutze Portalstab-Bohrer. Töte evtl. Portalstab-Anbeter."; }
#listrow_char_mission:has(a[title="Probleme beim Tollo"])::after { content: "Töte Tolloschein-Fresser in Ferdolien - Tollo-Hütte (97/96)."; }
#listrow_char_mission:has(a[title="Randale"])::after { content: "(Frieden) Nutze Beruhigungspille auf Randalierer in Grab von Reikan (98/109)."; }
#listrow_char_mission:has(a[title="Ratten und Raffzähne"])::after { content: "Verjage Ratten. Nicht töten! (z.b. Tal der Ruinen, Kuridan)."; }
#listrow_char_mission:has(a[title="Reagenzglasmangel"])::after { content: "Nutze Kiste mit Reagenzgläsern in Laree - Zauberlabor (49/83)."; }
#listrow_char_mission:has(a[title="Resistentes Schlachtvieh"])::after { content: "Finde und töte bockigen Stier."; }
#listrow_char_mission:has(a[title="Rosenzauber"])::after { content: "Ernte Rose von Ziel-Ort und bringe sie zurück."; }
#listrow_char_mission:has(a[title="Salzsüchtig"])::after { content: "Besorge Salzkristall. Gehe nach Ziel-Ort in Kerdis, gib ihn an Staubschleifer."; }
#listrow_char_mission:has(a[title="Schattenmoos"])::after { content: "Nutze schwarze Zauberkugel, töte in Schattenhöhle bis Drop: Schattenmoosextrakt (nicht rauslaufen)."; }
#listrow_char_mission:has(a[title="Schaufelmaulwürfe"])::after { content: "Nutze Klopfstock, töte 5 Schaufelmaulwürfe (z.b. Das vergessene Tal GZK-Punkt)."; }
#listrow_char_mission:has(a[title="Schneller Tod"])::after { content: "Töte Ziel-NPC in 4 Minuten."; }
#listrow_char_mission:has(a[title="Spaziergang mit roter Mütze"])::after { content: "Gehe zu Ziel-Ort (direkter Weg, keine Dungeons oder Teleport)."; }
#listrow_char_mission:has(a[title="Tiefgekühlte Proben"])::after { content: "Nutze Kühlbox auf gefrorenen Insel (eisiger Teleporter: Glodo-Fisch, kleiner Energiesplitter)."; }
#listrow_char_mission:has(a[title="Tod den Schatten"])::after { content: "Töte 5 Schatten der Dunkelheit in Ryn."; }
#listrow_char_mission:has(a[title="Ungesunde Population"])::after { content: "Töte 10 NPCs."; }
#listrow_char_mission:has(a[title="Verlorene Schatztruhe"])::after { content: "Töte Alter Zwerg in Konlir - Dorf. Bringe Truhe zurück."; }
#listrow_char_mission:has(a[title="Vernichtung der Falter"])::after { content: "Töte 4 Falter in Lodradon."; }
#listrow_char_mission:has(a[title="Verschneite Wege"])::after { content: "Nutze verbesserte Schneeschaufel in Wilisien - Schneedorf (111/83) bis fertig."; }
#listrow_char_mission:has(a[title="Wissenschaftliches Arbeiten"])::after { content: "Nutze Messgerät des AdH an Brotandro-Virus in Avarin."; }
#listrow_char_mission:has(a[title="Zurückzahlung der Schulden"])::after { content: "Finde schmierigen Geschäftemacher. Nicht töten!"; }
#listrow_char_mission:has(a[title="Zu viele Hulnodar-Heiler"])::after { content: "Töte 3 Hulnodar-Heiler in Kolun - Burg von Hulnodar (61/83)."; }
#listrow_char_mission:has(a[title="zuviele Farben"])::after { content: "Töte 3 Farbanomalien in Laree."; }
#listrow_char_mission:has(a[title="Ölmangel"])::after { content: "Verkaufe ein Ölfass an Buran - Schmiede (85/90)."; }
#listrow_char_mission:has(a[title="Blick in die Seele"])::after { content: "Töte NPC bis Drop: Seelenkapsel."; }

/* Multi-Part Jobs */
#listrow_char_mission:has(a[title="Juwelenring"])::after { content: "Töte Ziel-NPC, bringe dreckigen Glitzerklumpen zurück."; }
#listrow_char_mission:has(a[title="Juwelenring Teil 2"])::after { content: "Gehe zu Konlir - Großer See (99/100), trinke aus See bis fertig."; }
#listrow_char_mission:has(a[title="Juwelenring Teil 3"])::after { content: "Bringe Ring nach Konlir - Dorf (98/102)."; }

#listrow_char_mission:has(a[title="Futtermangel"])::after { content: "Besorge Tierfutter (Taruner, MaHa)."; }
#listrow_char_mission:has(a[title="Futtermangel Teil 2"])::after { content: "Nutze Tierfuttersack an Tal der Ruinen - Futterstelle (90/98)."; }

#listrow_char_mission:has(a[title="Die Hungersnot"])::after { content: "Hole Mehlsack von Torhin - Baru-Mühle (110/93)."; }
#listrow_char_mission:has(a[title="Die Hungersnot Teil 2"])::after { content: "Bringe Brot nach Mentoran - Nomadendorf (101/116)."; }

#listrow_char_mission:has(a[title="Der kranke Loranier"])::after { content: "Hole Sumpfblume von Rovonia (65/79, 1-Feld Umkreis)."; }
#listrow_char_mission:has(a[title="Der kranke Loranier Teil 2"])::after { content: "Bring Sumpfblumenextrakt nach Loranien - Weißes Haus (84/112)."; }
#listrow_char_mission:has(a[title="Der kranke Loranier Teil 3"])::after { content: "Nutze Bündel weißer Rosen bei Reikan - Friedhod der Nebel (98/109) (und weiße Rose für Bonus)."; }

#listrow_char_mission:has(a[title="Kampf gegen die Kälte"])::after { content: "Nutze Schafschergerät an Ziel-Schaf, wasche Wolle an Konlir - Wasserfall des Nordens (101/99)."; }
#listrow_char_mission:has(a[title="Kampf gegen die Kälte Teil 2"])::after { content: "Bringe Wolldecke nach Latenia - Berghütte (96/84)."; }

#listrow_char_mission:has(a[title="Das Attentat"])::after { content: "Gehe nach Ziel-Ort in Dranar."; }
#listrow_char_mission:has(a[title="Das Attentat Teil 2"])::after { content: "Töte Kurnotan getarnt (z.b. schwacher Tarnzauber). Dranar - Stadt (58/99)."; }

#listrow_char_mission:has(a[title="Die Bedrohung"])::after { content: "Nutze Stahlkäfig auf Baby-Einflügler bei Rovonia - Steile Klippen (70/80)."; }
#listrow_char_mission:has(a[title="Die Bedrohung Teil 2"])::after { content: "Nuitze Gift gegen einen Einflügler."; }

#listrow_char_mission:has(a[title="Die verwesten Bürger"])::after { content: "Hole Holz, finde rostigen Nagel in Buran, nutze Hammer des AdH in Buran - Westbereich (80/87)."; }
#listrow_char_mission:has(a[title="Die verwesten Bürger Teil 2"])::after { content: "Töte untoten Bürger in Buran bis Drop: Untoter Knochen."; }
#listrow_char_mission:has(a[title="Die verwesten Bürger Teil 3"])::after { content: "Bringe untoten Knochen nach Gobos - Gewebeforschung (80/99)."; }

#listrow_char_mission:has(a[title="Das Gegengift"])::after { content: "Nutze Spritze mit Gegengift an Ziel-Person."; }
#listrow_char_mission:has(a[title="Das Gegengift Teil 2"])::after { content: "Bringe Kiste mit Gegengift zu Kanobien - Waldhaus (71/101)."; }

#listrow_char_mission:has(a[title="Der goldene Löffel"])::after { content: "Nutze Wüstenschaufel in Mentoran bis goldener Löffel (z.b. Nomadendorf (101/116))."; }
#listrow_char_mission:has(a[title="Der goldene Löffel Teil 2"])::after { content: "Bringe goldenen Löffel zu Blatenien - Seltsames Gasthaus (86/109)."; }

#listrow_char_mission:has(a[title="Neuartiges Tierfutter"])::after { content: "Töte Kanalquallen in Kanalisation (Ebene 2) bis Drop: Quallenglibber."; }
#listrow_char_mission:has(a[title="Neuartiges Tierfutter Teil 2"])::after { content: "Besorge Gewürzbohne. Konlir - Haus der Haushaltswaren (96/102)."; }
#listrow_char_mission:has(a[title="Neuartiges Tierfutter Teil 3"])::after { content: "Nutze Neuartiges Tierfutter an NPCs bis fertig."; }
#listrow_char_mission:has(a[title="Neuartiges Tierfutter Teil 4"])::after { content: "Nutze Sack mit neuartigem Tierfutter an Tal der Ruinen - Futterstelle (90/98)."; }

#listrow_char_mission:has(a[title="Das Schneemesser"])::after { content: "Hole Schneemesser bei Wilisien (110/83) ab, repariere es."; }
#listrow_char_mission:has(a[title="Das Schneemesser Teil 2"])::after { content: "Töte 5 NPC mit Schneemesser als Waffe."; }

#listrow_char_mission:has(a[title="Die Seuche"])::after { content: "Gehe nach Konlir - Dorf (98/102, Kanalisationseingang)."; }
#listrow_char_mission:has(a[title="Die Seuche Teil 2"])::after { content: "Nutze Kanalisationsrechen in Kanalisation - Sammelbecken bis fertig."; }

#listrow_char_mission:has(a[title="Der silberne Ohrring"])::after { content: "Besorge Goldsieb, nutze in Nawor - Fluss bis Silberner Ohrring (1:3, Sieb in Mentoran - Nomadendorf)."; }
#listrow_char_mission:has(a[title="Der silberne Ohrring Teil 2"])::after { content: "Gehe nach Gobos - Rote Hütte (77/101)."; }
#listrow_char_mission:has(a[title="Der silberne Ohrring Teil 3"])::after { content: "Gehe zurück nach Gobos - Rote Hütte (77/101), füttere Schwein (Tal der Ruinen - Futterstelle (90/98))."; }

#listrow_char_mission:has(a[title="Kühe melken"])::after { content: "Nutze Melkmaschine an Ziel-Kuh."; }
#listrow_char_mission:has(a[title="Kühe melken Teil 2"])::after { content: "Gehe nach Krato - Hütte der Onlos (58/106)."; }

#listrow_char_mission:has(a[title="Das Gift"])::after { content: "Hole grüner Giftschleim von Ziel-Ort in Sutranien - Sumpf."; }
#listrow_char_mission:has(a[title="Das Gift Teil 2"])::after { content: "Besorge weiße Laubnelke (Ferdolien - Blumenpavillon (106/95))."; }
#listrow_char_mission:has(a[title="Das Gift Teil 3"])::after { content: "Nutze Griftspritze gegen Ziel-Person."; }

#listrow_char_mission:has(a[title="Der Kugelknochen"])::after { content: "Töte Onlo-Skelett bis Drop: Kugelknochen."; }
#listrow_char_mission:has(a[title="Der Kugelknochen Teil 2"])::after { content: "Gehe nach Sutranien - Juwelier (77/87)."; }

#listrow_char_mission:has(a[title="Der Baum der Heilung"])::after { content: "Hole verpackter Baum von Loranien - Baumzucht (77/116)."; }
#listrow_char_mission:has(a[title="Der Baum der Heilung Teil 2"])::after { content: "Nutze heilender Baum an Ziel-Ort. Nicht töten!"; }

#listrow_char_mission:has(a[title="Schädlingsbekämpfung"])::after { content: "Hole Flasche mit Koloa-Käfer Gift von Kuridan - Zwirnwaldhütte (122/96)."; }
#listrow_char_mission:has(a[title="Schädlingsbekämpfung Teil 2"])::after { content: "Nutze Insektenspray gegen Koloa-Käfer bei Anatubien - Plantage (töte mutierten Käfer für Bonus)."; }

#listrow_char_mission:has(a[title="Zu Tode erschrecken"])::after { content: "Bringe Gewebeproben bis fertig."; }
#listrow_char_mission:has(a[title="Zu Tode erschrecken Teil 2"])::after { content: "Nutze fürchterliche Maske gegen Ziel-NPC. Nicht töten!"; }

#listrow_char_mission:has(a[title="Die unfreiwillige Blutspende"])::after { content: "Lege Auffangschale an Ziel-Ort ab, dann töte NPC."; }
#listrow_char_mission:has(a[title="Die unfreiwillige Blutspende Teil 2"])::after { content: "Besorge Blaukornsonnenblume (Ferdolien - Blumenpavillon (106/95))."; }
#listrow_char_mission:has(a[title="Die unfreiwillige Blutspende Teil 3"])::after { content: "Gehe nach Plefir - Ort der Heilquellen (76/110)."; }

#listrow_char_mission:has(a[title="Tote beleben"])::after { content: "Besorge toten Gewebewurm."; }
#listrow_char_mission:has(a[title="Tote beleben Teil 2"])::after { content: "Gehe nach Tanien - Alte Strohhütte (55/113)."; }
#listrow_char_mission:has(a[title="Tote beleben Teil 3"])::after { content: "(Frieden) Nutze Zauber der Wiederbelebung an Ziel-Ort."; }

#listrow_char_mission:has(a[title="Der Rohrbruch"])::after { content: "Besorge Ingerium (Spitzhacke, Kampfgebiet)."; }
#listrow_char_mission:has(a[title="Der Rohrbruch Teil 2"])::after { content: "Nutze Ingeriumplatte bei Mentoran - Ölturm (103/115)."; }

#listrow_char_mission:has(a[title="Der Wetterkontrollkristall"])::after { content: "Töte Stein-Skelkos in Hewien (87/93). Hole 3 Tropfsteinkristalle aus Rotsteinhöhle."; }
#listrow_char_mission:has(a[title="Der Wetterkontrollkristall Teil 2"])::after { content: "Gehe nach Ferdolien - Wetterkontrollfestung (107/93)."; }

#listrow_char_mission:has(a[title="Die Fischspeise"])::after { content: "Nutze Angel des AdH auf Linya bis Schleimhautfisch (Kuridan - Bootssteg (118/106))."; }
#listrow_char_mission:has(a[title="Die Fischspeise Teil 2"])::after { content: "Gehe nach Anatubien - Herberge am Vulkan (88/105)."; }

#listrow_char_mission:has(a[title="Die Zaubertruhe"])::after { content: "Öffne die Zaubertruhe des AdH (Stufe 1-4)."; }
#listrow_char_mission:has(a[title="Die Zaubertruhe Teil 2"])::after { content: "Bringe 50 GM nach Ziel-Ort."; }

#listrow_char_mission:has(a[title="Energie für Narubia"])::after { content: "Lade leere Energiespähre an Energiewürmern in Dorea auf."; }
#listrow_char_mission:has(a[title="Energie für Narubia Teil 2"])::after { content: "Gehe nach Narubia - Haus der Finsternis (501/54)."; }

#listrow_char_mission:has(a[title="Der Dämonenhund"])::after { content: "Hole verschlossener Hundekäfig von Delos (61/94)."; }
#listrow_char_mission:has(a[title="Der Dämonenhund Teil 2"])::after { content: "Nutze Hundekäfig an Ziel-Ort. Nicht töten!"; }

#listrow_char_mission:has(a[title="Seelenstaub"])::after { content: "Besorge blauer Seelenstaub in Brondor."; }
#listrow_char_mission:has(a[title="Blauer Heilzauber"])::after { content: "Gehe nach Buran - Shop (86/85)."; }

#listrow_char_mission:has(a[title="Das Flammenwurmsekret"])::after { content: "TTöte Flammenwurm in Pensal bis Drop: Flammenwurmsekret."; }
#listrow_char_mission:has(a[title="Die Gesichtscreme"])::after { content: "Gehe nach Urdanien - Nordhütte (75/86)."; }

#listrow_char_mission:has(a[title="Die mysteriösen Pflanzensamen"])::after { content: "Finde kleiner Beutel mit Pflanzensamen in Torihn - Kiras Gasthaus (111/96)."; }
#listrow_char_mission:has(a[title="Die mysteriösen Pflanzensamen Teil 2"])::after { content: "Nutze kleiner Beutel mit Pflanzensamen an Ziel-Ort."; }

#listrow_char_mission:has(a[title="Die Grotte des Todes"])::after { content: "Gehe nach Ziel-Ort (in der Nähe)."; }
#listrow_char_mission:has(a[title="Die Grotte des Todes Teil 2"])::after { content: "Gehe zum südlichsten Punkt der Grotte des Todes (Portalmaschine)."; }

#listrow_char_mission:has(a[title="Die Drucknuss"])::after { content: "Gehe nach Konlir - Wiesen von Konlir (98/103)."; }
#listrow_char_mission:has(a[title="Die Drucknuss Teil 2"])::after { content: "Besorge Drucknuss (z.b. an Ziel-Ort ausgraben)."; }

#listrow_char_mission:has(a[title="Urlaub"])::after { content: "Gehe nach Kuridan - Steg (118/106)."; }
#listrow_char_mission:has(a[title="Urlaub Teil 2"])::after { content: "Gehe wieder nach Kurdian - Steg (118/106)."; }

#listrow_char_mission:has(a[title="Kleine Schrecken"])::after { content: "Nutze Kristall der Miniaturisierung gegen ein NPC."; }
#listrow_char_mission:has(a[title="Kleine Schrecken Teil 2"])::after { content: "Nutze schreckliches NPC gegen Ziel-Person."; }

#listrow_char_mission:has(a[title="Vernichtung der Beweise"])::after { content: "Nutze Alte Akten des AdH auf Ziel-Ort in Terasi - Fluss"; }
#listrow_char_mission:has(a[title="Vernichtung der Beweise Teil 2"])::after { content: "Nutze Stillezauber des AdH gegen Ziel-Person, oder setze Kopfgeld aus (Gobos - Kopfgeldjäger (76/98)).‎"; }

#listrow_char_mission:has(a[title="Geistersiegel"])::after { content: "(Frieden) Nutze Geistersiegel an bestimmtem Kontrollturm."; }
#listrow_char_mission:has(a[title="Geistersauger"])::after { content: "Nutze Geistersauger an vorherigem Kontrollturm."; }

#listrow_char_mission:has(a[title="Astforschung"])::after { content: "Töte lebenden Ast (unterirdischer Lichtwald), oder lege Rotkellerschimmel (Haus des AdH) auf Feld für Bonus."; }
#listrow_char_mission:has(a[title="Astforschung Teil 2"])::after { content: "Nutze schwarze ZK und töte 3 NPCs im Blutwald."; }

#listrow_char_mission:has(a[title="Ablenkung mit Knalleffekt"])::after { content: "Zerstöre Ziel-Ort mit Bombe des AdH."; }
#listrow_char_mission:has(a[title="Ablenkung mit Knalleffekt Teil 2"])::after { content: "Bestrafe Höhlenmensch in Sandsteinhöhlen (Schlucht der Sandsteine). Anbrüllen, dann Verjagen."; }

#listrow_char_mission:has(a[title="Die Wachtelnachzucht"])::after { content: "Gehe nach Kerdis - Knorriger Baum (90/115)."; }
#listrow_char_mission:has(a[title="Die Wachtelnachzucht Teil 2"])::after { content: "Nutze Nest voll Wachteleier in Pflefir bis fertig."; }
