/* Shop-highlighting to prevent selling important items */

/* Items to not sell */
td.areadescription
  table
  b:is(
    [onmouseover^='tt("Amulett der Erfahrung'],
    [onmouseover^='tt("Amulett der Feuersbrunst'],
    [onmouseover^='tt("Amulett der Frostkälte'],
    [onmouseover^='tt("Arbeitshandschuhe'],
    [onmouseover^='tt("Barubeutel'],
    [onmouseover^='tt("Beutezauber'],
    [onmouseover^='tt("blauer Kristall'],
    [onmouseover^='tt("Blaukornsonnenblume'],
    [onmouseover^='tt("Bonsly'],
    [onmouseover^='tt("Buch der '],
    [onmouseover^='tt("Buch des '],
    [onmouseover^='tt("Clan-Hinzauber'],
    [onmouseover^='tt("Deku-Blatt'],
    [onmouseover^='tt("Edelstein des Lichts'],
    [onmouseover^='tt("eisiger Teleporter'],
    [onmouseover^='tt("Elixier der Bewegung'],
    [onmouseover^='tt("energetische Entstarrung'],
    [onmouseover^='tt("energetische Kontrolle der Zeit'],
    [onmouseover^='tt("energetischer Schutzzauber'],
    [onmouseover^='tt("Fels der Phasenselbstheilung'],
    [onmouseover^='tt("Feuerdolch'],
    [onmouseover^='tt("Frost-Wiesel Anlocker'],
    [onmouseover^='tt("gefrorene Kugel'],
    [onmouseover^='tt("Gegenzauber: Auflösung des Schutzes'],
    [onmouseover^='tt("Gegenzauber: Erfahrungsverlust'],
    [onmouseover^='tt("geklebte, gelbe Zauberkugel'],
    [onmouseover^='tt("gepresste Zauberkugel'],
    [onmouseover^='tt("Glas voller Grafrather Stechmücken'],
    [onmouseover^='tt("Glodo-Fisch'],
    [onmouseover^='tt("Goldplattenschild'],
    [onmouseover^='tt("großer Energiesplitter'],
    [onmouseover^='tt("große Zauberkugel'],
    [onmouseover^='tt("Gruppen-Hinzauber'],
    [onmouseover^='tt("Heimzauber'],
    [onmouseover^='tt("Hulnodar-Kellerschlüssel'],
    [onmouseover^='tt("Kakby'],
    [onmouseover^='tt("Kaktuspfeil'],
    [onmouseover^='tt("kleiner Kellerschlüssel'],
    [onmouseover^='tt("Koloa-Bohne'],
    [onmouseover^='tt("Kontrolle der Zeit'],
    [onmouseover^='tt("Korallen-Seelen-Misch-O-Mat'],
    [onmouseover^='tt("Kubikiribocho'],
    [onmouseover^='tt("Landmaster'],
    [onmouseover^='tt("Loktitfinder'],
    [onmouseover^='tt("Makibishi'],
    [onmouseover^='tt("Messsender'],
    [onmouseover^='tt("Nylfon-Magnet'],
    [onmouseover^='tt("Onlo-Knochen'],
    [onmouseover^='tt("Pfeilbeutel'],
    [onmouseover^='tt("Portalmaschine'],
    [onmouseover^='tt("Postvogel'],
    [onmouseover^='tt("rote Zauberkugel'],
    [onmouseover^='tt("Ring des Vulkans'],
    [onmouseover^='tt("Schattenkralle'],
    [onmouseover^='tt("Schlüssel der Festung'],
    [onmouseover^='tt("Schriftrolle der Lebenden'],
    [onmouseover^='tt("Schutzzauber'],
    [onmouseover^='tt("schwacher Schutzzauber'],
    [onmouseover^='tt("schwebender Kristalldolch'],
    [onmouseover^='tt("Seelenkapsel'],
    [onmouseover^='tt("Seelenkugel'],
    [onmouseover^='tt("silberner Spektralwürfel'],
    [onmouseover^='tt("Sniper Rifle'],
    [onmouseover^='tt("Spitzhacke'],
    [onmouseover^='tt("Stab der großen Magie'],
    [onmouseover^='tt("Stab der Magie'],
    [onmouseover^='tt("Stab des Handels'],
    [onmouseover^='tt("Stab des Wissens'],
    [onmouseover^='tt("Taucheranzug'],
    [onmouseover^='tt("tote Wüstenmaus'],
    [onmouseover^='tt("Zauber der Entstarrung'],
    [onmouseover^='tt("verbundene Seelenkugel'],
    [onmouseover^='tt("Zauberbrötchen'],
    [onmouseover^='tt("Zauberkugel-Klebemaschine'],
    [onmouseover^='tt("Zaubertruhe '],
    [onmouseover^='tt("blauer Prisma-Kristall'],
    [onmouseover^='tt("roter Prisma-Kristall'],
    [onmouseover^='tt("schwarzer Prisma-Kristall'],
    [onmouseover^='tt("weißer Prisma-Kristall'],
    [onmouseover^='tt("grüner Prisma-Kristall'],
    [onmouseover^='tt("gelber Prisma-Kristall'],
    [onmouseover^='tt("violetter Prisma-Kristall'],
    [onmouseover^='tt("Goldwäschesieb'],
    [onmouseover^='tt("Holzleiter']
  ) {
  color: #d86868;
}

/* Items for Player-To-Player trade (Markthalle) */
td.areadescription
  table
  b:is(
    [onmouseover^='tt("Holz"'],
    [onmouseover^='tt("Kuhkopf'],
    [onmouseover^='tt("Itolos-Pulver'],
    [onmouseover^='tt("Pastille des Fliegens"'],
    [onmouseover^='tt("Pfeil"'],
    [onmouseover^='tt("Phasenkugel"'],
    [onmouseover^='tt("Resistenz-Klumpen'],
    [onmouseover^='tt("Salzkristall'],
    [onmouseover^='tt("starke Kontrolle der Zeit'],
    [onmouseover^='tt("Tarunium'],
    [onmouseover^='tt("Wakrudpilz'],
    [onmouseover^='tt("Wissenszauber: '],
    [onmouseover^='tt("Wissenskapsel"'],
    [onmouseover^='tt("Zauber der Selbstheilung'],
    [onmouseover^='tt("Zauber des begrenzten Wissens'],
    [onmouseover^='tt("Ölfass']
  ) {
  color: #5ba8e0;
}

/* Items needed for jobs (Auftragshaus) */
td.areadescription
  table
  b:is(
    [onmouseover^='tt("Phasenkugel'],
    [onmouseover^='tt("Steak mit Augen'],
    [onmouseover^='tt("strategischer Hinzauber'],
    [onmouseover^='tt("Spitzhacke"'],
    [onmouseover^='tt("Salzkristall"'],
    [onmouseover^='tt("eisiger Teleporter"'],
    [onmouseover^='tt("Glodo-Fisch'],
    [onmouseover^='tt("kleiner Energiesplitter'],
    [onmouseover^='tt("Hulnodar-Kellerschlüssel'],
    [onmouseover^='tt("Ölfass'],
    [onmouseover^='tt("Tierfutter'],
    [onmouseover^='tt("weiße Rose'],
    [onmouseover^='tt("schwacher Tarnzauber"'],
    [onmouseover^='tt("Holz'],
    [onmouseover^='tt("Gewürzbohne'],
    [onmouseover^='tt("Goldwäschesieb'],
    [onmouseover^='tt("Ingerium'],
    [onmouseover^='tt("weiße Laubnelke'],
    [onmouseover^='tt("Gewebewurm'],
    [onmouseover^='tt("Blaukornsonnenblume'],
    [onmouseover^='tt("toter Gewebewurm'],
    [onmouseover^='tt("Rotkellerschimmel']
  ) {
  color: #47c57b;
}
